In [19]:
import urllib.request
import urllib.parse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

api_key = "MXuDGTdMFajqFoxWmhRaZzPYYuiMDr51"

In [20]:
api_key

'MXuDGTdMFajqFoxWmhRaZzPYYuiMDr51'

In [62]:
def call_chId(svname, urname) :
    # urname url 형식으로 변환 필요
    urname_url = urllib.parse.quote(urname)
    requestData = requests.get(f'https://api.neople.co.kr/df/servers/{svname}/characters?characterName={urname_url}&apikey={api_key}')
    if requestData.status_code == 200 :
        jsonData = requestData.json()
        api_result = pd.DataFrame(jsonData['rows'])
        return api_result
    else :
        print(f"오류코드 : {requestData.status_code}")

svname = "prey"
urname = "사레네"

df = call_chId(svname, urname)
df.columns

Index(['serverId', 'characterId', 'characterName', 'level', 'jobId',
       'jobGrowId', 'jobName', 'jobGrowName', 'fame'],
      dtype='object')

In [61]:
df

,serverId,characterId,characterName,level,jobId,jobGrowId,jobName,jobGrowName,fame
0,cain,601db920dfac63cf6ba1e5aa5b606b38,느카리,100,3909d0b188e9c95311399f776e331da5,c9b492038ee3ca8d27d7004cf58d59f3,마법사(여),眞 마도학자,3091

In [55]:
columns = ['serverId', 'characterId','characterName', 'jobGrowName', 'fame']
df_id = df[columns]
df_id.set_index("characterId")
df_id

  serverId                       characterId characterName jobGrowName   fame
0     prey  d0b844d79ea6e490f6a26b1f62070a24           사레네      眞 마도학자  41867

In [28]:
requestData = requests.get(f'https://api.neople.co.kr/df/servers/{svname}/characters?characterName={urname_url}&apikey={api_key}')
jsonData = requestData.json()
api_result = pd.DataFrame(jsonData['rows'])

In [29]:
api_result

,serverId,characterId,characterName,level,jobId,jobGrowId,jobName,jobGrowName,fame
0,prey,d0b844d79ea6e490f6a26b1f62070a24,사레네,115,3909d0b188e9c95311399f776e331da5,c9b492038ee3ca8d27d7004cf58d59f3,마법사(여),眞 마도학자,41867